@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
body{
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding: 100px;
}

a{
	color: #508720;
	text-decoration: none;
}
h1{	
	font-size: 32px; 
	margin: 10px 0;
}
h2{ 
	font-size: 24px; 
	margin: 10px 0;
	padding-top: 10px;
}

p{ 
	margin: 10px 0;
}

header{
	padding-left: 200px;
}

form{
	background-color: white;
	border-left: 5px solid #508720;
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	padding: 50px;
}

form p{
	color: #888;
	font-size: 22px;
	font-weight: normal;
}

input[type="text"]{
	background-color: #FFF;
	border: none;
	/*border-bottom: 1px solid #508720;*/
	color: #222;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	font-weight: bold;
	outline: none;
	width: 95px;
}

input[type="text"]:focus{
	background-color: #EEE;
	border: none;
	border-bottom: 1px dotted #508720;
	outline: none;
}

ul{
	list-style-type: none;
	padding:  0;
	padding-left: 200px;
	width: 660px;
}
li{
	box-shadow: inset 0 1px 0 #CCC;
	color: #222;
	padding: 25px 50px;
	position: relative;
}

li:hover{
	background-color: #FFF;
}

li:last-child{
	border-bottom: 1px solid #CCC;
}

li.original{
	border-left: 5px solid #508720;
}
	li.original:after{
		background-color: #508720;
		border: 3px solid #fff;
		border-radius: 20px;
		box-sizing: border-box;
		content: ' ';
		display: inline-block;
		height: 15px;
		left: -10px;
		position: absolute;
		top: 55px;
		width: 15px;

	}

li.fork{
	border-left: 5px solid #888;
	color: #888;
	padding: 10px 50px;
}

li.fork a {
	color: #888;
}

li .date{
	color: #888;
	font-size: 12px;
	position: absolute;
	left: -150px;
	top: 50px;
}

.tag {
	font-size: 12px;
	color: #508720;
	background-color: #FFF;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #888;
	display: inline-block;
	vertical-align: 3px;	
}
.last-updated {
	font-size: 12px;
	color: #508720;
	background-color: #FFF;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #888;
	display: inline-block;
	vertical-align: 3px;
	margin-left: 3px;
}

.metadata {
	margin-top: -15px;
}

.no-metadata {
	display: none;
}